.edit-contact .MuiPickersSectionList-root {
  font-size: 12px;
  padding: 13px 0px;
  color: #433205;
  font-weight: 600;
}

.edit-contact .MuiPickersOutlinedInput-root {
  border-radius: 8px;
  /* border: 1px solid #c2c2c2; */
  background: #f5f5f5;
  box-shadow: 0 1px 4px 0 rgba(142, 142, 142, 0.25) inset;
}

.edit-contact .MuiPickersOutlinedInput-notchedOutline {
  border: none !important;
}
