.classes-swiper .swiper {
  padding: 10px;
}

.classes-swiper .swiper-slide {
  height: auto;
  display: flex;
}

.classes-swiper .swiper-slide > div {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.classes-swiper .swiper-button-prev,
.classes-swiper .swiper-button-next {
  display: none;
}

.classes-swiper {
  padding: 10px 0;
}
